.App {
  font-family: "Roboto", sans-serif;
  background: url("./images/aeroplane.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
}
